/*  universal styles*/


/* ID styles */

#appointmentFormTag{
    border: solid white 1px;
    border-radius: 10px;
    width: 700px;
    height: 550px;
    padding: 20px;
    background-color: white;;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
}

#formHeader{
    font-size: 40px;
}

/* #testRow{
    display: flex;
    flex-direction: row;
}

#testRow input{
    margin-right: 80px;
} */

/* Class styles */
.stepsSpan{
    background-color: white;
    color: #CC4C4C;
    border: solid white 1px;
    /* height: 90px;
    width: 90px; */
}

.stepsPTag{
    font-size: 25px;
}

/* Tag styles */
fieldset{
    display: flex;
    flex-wrap: wrap;
    border: solid white 1px;
}

body{
    display: flex;
}