/*  universal styles*/


/* ID styles */

#appointmentFormTag{
    margin: 0 auto;
    display: flex;
    align-self: center;
    justify-self: center;
    flex-direction: column;
    border: solid white 2px;
    border-radius: 5px;
    /* height: 900px; */
    /* width: 600px; */
    background-color: #CC4C4C;
    color: white;
}

#formHeader{
    font-size: 40px;
}

/* #testRow{
    display: flex;
    flex-direction: row;
}

#testRow input{
    margin-right: 80px;
} */

/* Class styles */
.stepsSpan{
    background-color: white;
    color: #CC4C4C;
    border: solid white 1px;
    /* height: 90px;
    width: 90px; */
}

.stepsPTag{
    font-size: 25px;
}

/* Tag styles */
fieldset{
    display: flex;
    flex-wrap: wrap;
    border: solid white 1px;
}