/* Universal styles */
*{}

/* ID styles */
#bodyDiv{
    display: flex;
    flex-direction: column;
}

#navagationDiv{
    display: flex;
    background-color: #CC4C4C;
    width: 100%;
    height: 900px;
    border-top: solid white 9px;
}

#navagationUl{
    display: flex;
    flex-direction: column;
    list-style: none;
    color: white;
}


/* This selects the text under the icons */
#navagationUl a{
    color: white;
    text-decoration: none;
}

/* Class styles */
.material-icons{
    font-size: 45px;
    color: white;
}

.navagationLinkDiv{
    display: flex;
    flex-direction: row;
}

.navagationLis a{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


/* Tag styles */

body{
    font-family: 'Oswald', sans-serif;
    background-color: #888888;
    display: flex;
    flex-direction: row;
}



