.navagationLinkDiv{
    display: flex;
    flex-direction: row;
}

.navagationLis{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space space-around;
    list-style-type: none;
}

a{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
    color: white;
}

a:active{
    background-color: white;
    color: #CC4C4C;
}

.material-icons{
    font-size: 45px;
    color: white;
}

.material-icons:active{
    color: #CC4C4C;
}

.navagationLinkDiv{
    width:100%;
}